{% extends 'base.html' %}

{% block content %}

    <div>
        <div class="instagram_500px_div">

            <img src="{{ target_user.profile.image.url }}" alt=""
                 style="height: 12rem; width: 12rem; border-radius:15rem; margin-bottom: 2rem; object-fit: cover">

            {% if target_user.profile %} <!--프로필이 존재하면-->
            <h2 style="font-family: 'NanumSquareB'; font-weight: bold;">
                {{ target_user.profile.nickname }} <!--닉네임을 보여줌-->
                <a class="material-icons"
                   style = "box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .3rem;"
                   href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                    edit
                </a>
            </h2>
            {% else %} <!--프로필이 존재하지 않으면-->
            <a href="{% url 'profileapp:create' %}"> <!--프로필 만드는 페이지 연결-->
                <h2 style="font-family: 'NanumSquareB'; font-weight: bold;">
                    Create Profile
                </h2>
            </a>
            {% endif %}

            <h5 style="margin-bottom:3rem;">
                {{ target_user.profile.message }} <!--소개 메세지 표시-->
            </h5>

            {% if target_user == user %} <!--target_user와 지금 접속한 user가 같다면-->
            <a class="material-icons"
                style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
                href="{% url 'accountapp:update' pk=user.pk %}">
                settings
            </a>
            <a class="material-icons"
                style="box-shadow: 0 0 4px #fcc; border-radius: 10rem; padding: .4rem;"
                href="{% url 'accountapp:delete' pk=user.pk %}">
                cancel
            </a>
            {% endif %}
        </div>
        <div>
            <!--내가 작성한 게시글 가져오기-->
            {% include 'snippets/list_fragment.html' with article_list=object_list %}
        </div>
    </div>
{% endblock %}