{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div class="instagram_500px_div">
        <div>
            <h4>Login</h4>
        </div>
        <div class="my-form-group">
            <form action="" method="post">
                {% csrf_token %}
                <!-- bootstrap이 적용된 form사용 -->
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3">
            </form>
        </div>
    </div>

{% endblock %}