{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div class="instagram_500px_div">
        <div class="mb-4">
            <h4>Delete Comment : {{ target_comment.content }}</h4> <!--해당 댓글 지울지 확인창-->
        </div>
        <!--commentapp:delete라는 URL 패턴에 pk라는 매개변수를 전달하는 URL을 생성하는 템플릿 태그-->
        <form action="{% url 'commentapp:delete' pk=target_comment.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger rounded-pill col-6 mt-3">
        </form>
    </div>

{% endblock %}