.instagram_logo {
    font-family: 'Lobster', cursive;
}

.instagram_footer_button  {
    font-size: 0.9rem;
}

.instagram_footer {
    text-align: center;
    margin-top: 2rem;
}

.instagram_header {
    text-align: center;
    margin: 2rem 0;
}