{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

  <div class="instagram_500px_div">
    <div class="mb-4">
      <h4>Profile Create</h4>
    </div>
    <!--  이미지를 넣을 때, enctype="multipart/form-data"를 명시해줘야 함.  -->
    <form action="{% url 'profileapp:create' %}" method="post" enctype="multipart/form-data"> <!-- accountapp 내부의 create라는 라우트로 연결해라 -->
      {% csrf_token %}

      <!-- bootstrap이 적용된 form사용 -->
      {% bootstrap_form form %}
      <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3">
    </form>
  </div>

{% endblock %}